/* BASE STYLES  */

html {
	scroll-behavior: smooth;
}

body {
	min-height: 100vh;
	background-color: rgb(32, 32, 32);
}

p {
	font-family: "Roboto";
}

nav {
	background-color: rgb(32, 32, 32);
}

.arrows {
	align-self: center;
	margin-right: 30px;
}

.down-arrow {
	width: 50px;
	height: 50px;
}

.last-article {
	transform: rotate(180deg);
}

p.content-paragraph {
	max-width: 800px;
}

.author-arrow-wrapper {
	display: flex;
	justify-content: space-between;
}

.author-image {
	object-fit: cover;
	border-radius: 100%;
}

p.like-paragraph {
	text-align: center;
	margin-top: 2px;
}

p.author-name {
	text-align: center;
}

.content-wrapper {
	display: flex;
	flex-direction: column;
}

article {
	position: relative;
	border-radius: 8px;
	padding: 10px;
	margin-top: 20px;
	background-color: #e4e4e4;
}

h1 {
	font-family: "Roboto";
	margin-bottom: 0;
	color: white;

}

.nav-paragraph {
	color: white;
}

.published-paragraph {
	font-style: italic;
	font-weight: 300;
	font-size: 12px;
}

h3 {
	width: 60%;
	font-family: "Roboto";
	text-transform: uppercase;
}

/* ----- MEDIA QUERIES ----- */

/* Extra small devices (phones, 600px and down) */
@media screen and (max-width: 600px) {
	nav {
		display: flex;
		flex-direction: column;
		align-items: center;
		margin-bottom: 25px;
		margin-top: 25px;
	}

	.nav-paragraph {
		font-weight: 300;
	}

	article {
		width: 80%;
		border-bottom: 1px solid black;

	}

	.article-wrapper {
		display: flex;
		flex-direction: column;
		align-items: center;

	}

	.article-image {
		width: 100%;
		height: auto;
	}

	.like-icon {
		width: 25px;
		height: auto;
	}

	.author-name {
		font-style: italic;
		margin-bottom: 0;
		margin-top: 50px;
	}

	.author-image {
		width: 80px;
		height: 80px;
	}

}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {

	nav {
		display: flex;
		flex-direction: column;
		align-items: center;
		margin-bottom: 25px;
		margin-top: 25px;
	}

	.nav-paragraph {
		font-weight: 300;
	}

	article {
		width: 80%;
		border-bottom: 1px solid black;
	}

	.article-wrapper {
		display: flex;
		flex-direction: column;
		align-items: center;

	}

	.article-image {
		width: 100%;
		height: auto;
	}

	.like-icon {
		width: 25px;
		height: auto;
	}

	.author-name {
		font-style: italic;
		margin-bottom: 0;
		margin-top: 50px;
	}

	.author-image {
		width: 80px;
		height: 80px;
	}
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {

	nav {
		display: flex;
		flex-direction: column;
		align-items: center;
		margin-bottom: 25px;
		margin-top: 25px;
	}

	.nav-paragraph {
		font-weight: 300;
	}

	article {
		width: 80%;
		border-bottom: 1px solid black;
	}

	.article-wrapper {
		display: flex;
		flex-direction: column;
		align-items: center;

	}

	.article-image {
		width: 100%;
		height: auto;
	}

	.like-icon {
		width: 25px;
		height: auto;
	}

	.author-name {
		font-style: italic;
		margin-bottom: 0;
		margin-top: 50px;
	}

	.author-image {
		width: 80px;
		height: 80px;
	}
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {

	nav {
		display: flex;
		flex-direction: column;
		align-items: center;
		margin-bottom: 25px;
		margin-top: 25px;
	}

	.nav-paragraph {
		font-weight: 300;
	}

	article {
		width: 70%;
		border-bottom: 1px solid black;
	}

	.article-wrapper {
		display: flex;
		flex-direction: column;
		align-items: center;

	}

	.article-image {
		width: 90px;
		height: 90px;
	}

	.like-icon {
		width: 25px;
		height: auto;
	}

	.author-name {
		font-style: italic;
		margin-bottom: 0;
		margin-top: 50px;
	}

	.author-image {
		width: 90px;
		height: 90px;
	}
}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {

	nav {
		display: flex;
		flex-direction: column;
		align-items: center;
		margin-bottom: 25px;
		margin-top: 25px;
	}

	.nav-paragraph {
		font-weight: 300;
	}

	article {
		width: 70%;
		border-bottom: 1px solid black;
	}

	.article-wrapper {
		display: flex;
		flex-direction: column;
		align-items: center;

	}

	.article-image {
		width: 60%;
		height: auto;
	}

	.like-icon {
		width: 25px;
		height: auto;
	}

	.author-name {
		font-style: italic;
		margin-bottom: 0;
		margin-top: 50px;
	}

	.author-image {
		width: 100px;
		height: 100px;
	}
}
