/* FONTS  */

@import url('https://fonts.googleapis.com/css?family=Playfair+Display:400,700,900&display=swap');
@import url('https://fonts.googleapis.com/css?family=Roboto:100,300,400&display=swap');

/* BASE STYLES  */

html {
	scroll-behavior: smooth;
}

body {
	min-height: 100vh;
	background-color: rgb(32, 32, 32);
}

main {
	display: flex;
}

nav {
	background-color: rgb(32, 32, 32);
	margin: 0;
}

.authorArrowWrapper {
	display: flex;
	justify-content: space-between;
}

.contentWrapper {
	display: flex;
	flex-direction: column;
}

article {
	position: relative;
	border-radius: 8px;
	padding: 10px;
	margin-top: 20px;
	background-color: #e4e4e4;
}

/* TEXT  */

h1 {
	font-family: "Playfair Display";
	margin-bottom: 0;
	color: white;
}

h3 {
	width: 60%;
	font-family: "Playfair Display";
	text-transform: uppercase;
}

p.currentDate {
	font-family: "Roboto";
	color: white;
	font-weight: 100;
	align-self: flex-end;
	margin: 20px 0 0 0;
}

p {
	font-family: "Playfair Display";
}

p.contentParagraph {
	max-width: 800px;
}

p.likeParagraph {
	font-family: "Roboto";
	text-align: center;
	margin-top: 2px;
}

p.authorName {
	font-family: "Roboto";
	text-align: center;
	font-weight: bold;
}

.navParagraph {
	font-family: "Roboto";
	color: white;
}

.publishedParagraph {
	font-family: "Roboto";
	font-weight: 300;
	font-size: 12px;
}

/* IMAGES  */

.arrows {
	align-self: center;
	margin-right: 30px;
}

.downArrow {
	width: 50px;
	height: 50px;
}

.authorImage {
	object-fit: cover;
	border-radius: 100%;
}

.lastArticle {
	transform: rotate(180deg);
}

/* ----- MEDIA QUERIES ----- */

/* Extra small devices (phones, 600px and down) */
@media screen and (max-width: 600px) {

	nav {
		width: 80%;
		align-self: center;
		display: flex;
		flex-direction: column;
		align-items: center;
	}

	article {
		width: 80%;
		border-bottom: 1px solid black;
	}

	.articleWrapper {
		display: flex;
		flex-direction: column;
		align-items: center;
	}

	.navParagraph {
		font-weight: 300;
	}

	.articleImage {
		width: 100%;
		height: auto;
	}

	.like-icon {
		width: 25px;
		height: auto;
	}

	.authorName {
		margin: 50px 0 0 0;
	}

	.authorImage {
		width: 80px;
		height: 80px;
	}

}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {

	nav {
		width: 80%;
		align-self: center;
		display: flex;
		flex-direction: column;
		align-items: center;
	}

	.navParagraph {
		font-weight: 300;
	}

	article {
		width: 80%;
		border-bottom: 1px solid black;
	}

	.articleWrapper {
		display: flex;
		flex-direction: column;
		align-items: center;

	}

	.articleImage {
		width: 90%;
		height: auto;
	}

	.like-icon {
		width: 25px;
		height: auto;
	}

	.authorName {
		margin: 50px 0 0 0;
	}

	.authorImage {
		width: 80px;
		height: 80px;
	}
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {

	nav {
		width: 80%;
		align-self: center;
		display: flex;
		flex-direction: column;
		align-items: center;
	}

	.navParagraph {
		font-weight: 300;
	}

	article {
		width: 80%;
		border-bottom: 1px solid black;
	}

	.articleWrapper {
		display: flex;
		flex-direction: column;
		align-items: center;

	}

	.articleImage {
		width: 80%;
		height: auto;
	}

	.like-icon {
		width: 25px;
		height: auto;
	}

	.authorName {
		margin: 50px 0 0 0;
	}

	.authorImage {
		width: 80px;
		height: 80px;
	}
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {

	nav {
		width: 70%;
		align-self: center;
		display: flex;
		flex-direction: column;
		align-items: center;
	}

	.navParagraph {
		font-weight: 300;
	}

	article {
		width: 70%;
		border-bottom: 1px solid black;
	}

	.articleWrapper {
		display: flex;
		flex-direction: column;
		align-items: center;

	}

	.articleImage {
		width: 80%;
		height: auto;
	}

	.like-icon {
		width: 25px;
		height: auto;
	}

	.authorName {
		margin: 50px 0 0 0;
	}

	.authorImage {
		width: 90px;
		height: 90px;
	}
}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {

	nav {
		width: 70%;
		align-self: center;
		display: flex;
		flex-direction: column;
		align-items: center;
	}

	.navParagraph {
		font-weight: 300;
	}

	article {
		width: 70%;
		border-bottom: 1px solid black;
	}

	.articleWrapper {
		display: flex;
		flex-direction: column;
		align-items: center;

	}

	.articleImage {
		width: 80%;
		height: auto;
	}

	.like-icon {
		width: 25px;
		height: auto;
	}

	.authorName {
		margin: 50px 0 0 0;
	}

	.authorImage {
		width: 100px;
		height: 100px;
	}
}
